# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    grouphub_api_url: http://api.grouphub.surfuni.org
    grouphub_api_username: 'grouphub'
    grouphub_api_password: ~

    ldap_host: ~
    ldap_port: 389
    ldap_dn:   ~
    ldap_pass: ~

    users_dn: ['ou=Users,ou=SURFUni,dc=surfuni,dc=org']
    user_query: 'cn=*'
    groups_dn: ['ou=Formalgroups,dc=surfuni,dc=org']
    group_query: 'cn=*'
    grouphub_dn: 'ou=Grouphub,dc=surfuni,dc=org'
    formal_dn: 'ou=SemiFormal,ou=Grouphub,dc=surfuni,dc=org'
    adhoc_dn: 'ou=AdHoc,ou=Grouphub,dc=surfuni,dc=org'

    ldap.mapping:
        user:
            firstName: givenname
            lastName:  sn
            loginName: uid
            email:     mail
        group:
            description: description
            objectClass: groupOfNames
            groupType:   ~
            accountName: ~

    admin_groups_sync: false
    admin_groups_dn: ~

    password_voot: ~

    simplesamlphp.path: simplesaml/
    simplesamlphp.admin_password: ~
    simplesamlphp.technical_contact_name: ~
    simplesamlphp.technical_contact_email: ~
    simplesamlphp.idp: http://idp.surfuni.org/simplesaml/saml2/idp/metadata.php

    application_title: 'SURFuni'
    url: http://grouphub.surfuni.org

    my_groups_column_title_en: My groups
    my_groups_column_title_nl: Mijn groepen
    org_groups_column_title_en: Organisation groups
    org_groups_column_title_nl: Organisatie groepen
    all_groups_column_title_en: All groups
    all_groups_column_title_nl: Alle groepen

    documentation_url: https://wiki.surfnet.nl/display/Grouphub/Grouphub+Home
