<div id="group_all_groups" class="group"
     data-url="{{ path('groups', {'type': 'all'}) }}">

    <section class="background_purple sort">
        <a id="close_all_groups" href="#" class="close"><i class="fa fa-times"></i></a>

        {% include ':groups:_sort.html.twig' with {'color': 'purple'} %}

        <div>
            <h3>{{ 'ALL GROUPS'|trans }}</h3>
            <p>{{ 'There is a total of %count% groups'|trans({'%count%': groups.totalCount}) }}</p>
        </div>
    </section>

    <ul>
        <div class="jscroll-inner">{% include ':groups:all_groups-groups.html.twig' %}</div>
    </ul>

</div>
