<div id="group_search" class="group {% if not query %}hidden{% endif %}"
     data-url="{{ path('groups', {'type': 'search'}) }}">

    <section class="background_grey sort">
        <a id="close_search" href="#" class="close"><i class="fa fa-times"></i></a>

        {% include ':groups:_sort.html.twig' with {'color': 'grey'} %}

        <div>
            <h3>{{ 'SEARCH'|trans }}</h3>
            <p>{{ 'Results for data'|trans }}</p>
        </div>
    </section>

    <ul data-url="{{ path('groups', {'type': 'results'}) }}">
        {% if query %}
            {% include ':groups:search-results.html.twig' %}
        {% endif %}
    </ul>

</div>
